{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in receipt_list_list.all %}
                    <tr>
                        <td>
                            {{ detail.vendor }}
                        </td>
                        <td>
                            {{ detail.total }}
                        </td>
                        <td>
                            {{ detail.tax }}
                        </td>
                        <td>
                            {{ detail.date|date:"m/d/y" }}
                        </td>
                        <td>
                            {{ detail.category }}
                        </td>
                        <td>
                            {{ detail.account }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
